@font-face {
  font-family: 'Oswald-Regular';
  src: url(../fonts/Oswald-Regular.eot);
  src: url(../fonts/Oswald-Regular.otf);
  src: url(../fonts/Oswald-Regular.svg);
  src: url(../fonts/Oswald-Regular.ttf);
  src: url(../fonts/Oswald-Regular.woff);
  src: url(../fonts/Oswald-Regular.woff2);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-Medium';
  src: url(../fonts/Oswald-Medium.eot);
  src: url(../fonts/Oswald-Medium.otf);
  src: url(../fonts/Oswald-Medium.svg);
  src: url(../fonts/Oswald-Medium.ttf);
  src: url(../fonts/Oswald-Medium.woff);
  src: url(../fonts/Oswald-Medium.woff2);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url(../fonts/Oswald-SemiBold.eot);
  src: url(../fonts/Oswald-SemiBold.otf);
  src: url(../fonts/Oswald-SemiBold.svg);
  src: url(../fonts/Oswald-SemiBold.ttf);
  src: url(../fonts/Oswald-SemiBold.woff);
  src: url(../fonts/Oswald-SemiBold.woff2);
  font-weight: 600;
  font-style: normal; }

  @font-face {
    font-family: 'Oswald-Bold';
    src: url(../fonts/Oswald-Bold.eot);
    src: url(../fonts/Oswald-Bold.otf);
    src: url(../fonts/Oswald-Bold.svg);
    src: url(../fonts/Oswald-Bold.ttf);
    src: url(../fonts/Oswald-Bold.woff);
    src: url(../fonts/Oswald-Bold.woff2);
    font-weight: 700;
    font-style: normal; }

html {
  -o-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth; }

h2 {
  font-size: 40px;
  line-height: 66px;
  font-weight: 700;
  text-align: center; }

.wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%; }

ul {
  list-style-type: none; }

p, div, a, h1, h2, h3, h4, h5, button, ul, li, input, textarea {
  padding: 0;
  margin: 0; }

.no-gutters > [class*="col-"] {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

a,
a:hover,
a:active,
a:focus,
button,
button:hover,
button:active,
button:focus,
.btn,
.btn:hover,
.btn:active,
.btn:focus,
input,
input:hover,
input:active,
input:focus,
textarea,
textarea:hover,
textarea:active,
textarea:focus {
  text-decoration: none !important;
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: none !important; }

body {
  background: #31297F;
  font-family: 'Axiforma'; }

