@font-face {
  font-family: 'Oswald-Regular';
  src: url(../fonts/Oswald-Regular.eot);
  src: url(../fonts/Oswald-Regular.otf);
  src: url(../fonts/Oswald-Regular.svg);
  src: url(../fonts/Oswald-Regular.ttf);
  src: url(../fonts/Oswald-Regular.woff);
  src: url(../fonts/Oswald-Regular.woff2);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-Medium';
  src: url(../fonts/Oswald-Medium.eot);
  src: url(../fonts/Oswald-Medium.otf);
  src: url(../fonts/Oswald-Medium.svg);
  src: url(../fonts/Oswald-Medium.ttf);
  src: url(../fonts/Oswald-Medium.woff);
  src: url(../fonts/Oswald-Medium.woff2);
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url(../fonts/Oswald-SemiBold.eot);
  src: url(../fonts/Oswald-SemiBold.otf);
  src: url(../fonts/Oswald-SemiBold.svg);
  src: url(../fonts/Oswald-SemiBold.ttf);
  src: url(../fonts/Oswald-SemiBold.woff);
  src: url(../fonts/Oswald-SemiBold.woff2);
  font-weight: 600;
  font-style: normal; }

  @font-face {
    font-family: 'Oswald-Bold';
    src: url(../fonts/Oswald-Bold.eot);
    src: url(../fonts/Oswald-Bold.otf);
    src: url(../fonts/Oswald-Bold.svg);
    src: url(../fonts/Oswald-Bold.ttf);
    src: url(../fonts/Oswald-Bold.woff);
    src: url(../fonts/Oswald-Bold.woff2);
    font-weight: 700;
    font-style: normal; }

html {
  -o-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth; }

.wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%; }

ul {
  list-style-type: none; }

p, div, a, h1, h2, h3, h4, h5, button, ul, li, input, textarea {
  padding: 0;
  margin: 0; }

.no-gutters > [class*="col-"] {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

a,
a:hover,
a:active,
a:focus{
  color: inherit;
}

a,
a:hover,
a:active,
a:focus,
button,
button:hover,
button:active,
button:focus,
.btn,
.btn:hover,
.btn:active,
.btn:focus,
input,
input:hover,
input:active,
input:focus,
textarea,
textarea:hover,
textarea:active,
textarea:focus {
  text-decoration: none !important;
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: none !important; }

body {
  font-family: 'Oswald-Regular';
  background: #E5E5E5; }

.header{
  height: 95px;
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  color: #F4F2EC;
  background-color: rgba(14, 38, 70, 0.6);
  text-transform: uppercase;
}

.header__box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__box ul{
  display: flex;
  flex-direction: row;
}

.menu li{
  padding: 15px;
}

.menu li:last-child{
  color: #F59401;
}

.menu li > a{
  font-size: 30px;
}

.lang-section li{
  font-size: 25px;
  padding: 10px;
}

.lang-section li:checked{
  text-decoration: underline;
}

.billboard{
  /* position: relative; */
  top: 0;
  z-index: 1;
  height: 920px;
}

.billboard-back{
  width:100%;
  position: absolute;
}

.billboard__offer {
  right: 0;
  position: relative;
  float: right;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billboard__offer h2{
  font-size: 75px;
  font-family: 'Oswald-SemiBold';
  color: #F4F2EC;
}

.billboard__offer h3{
  font-size: 55px;
  font-family: 'Oswald-SemiBold';
  color: rgba(244, 242, 236, 0.8);
}

.billboard__offer img{
  position: relative;
  top: -60px;
}
.billboard__offer h1{
  position: relative;
  top: -60px;
  font-size: 100px;
  font-family: 'Oswald-Bold';
  color: rgba(210, 14, 10, 0.95);
  text-shadow:0px 1px 0 rgba(255,255,255, 0.35),0px -1px 0 rgba(255,255,255, 0.35),1px 0px 0 rgba(255,255,255, 0.35),-1px 0px 0 rgba(255,255,255, 0.35),1px 1px 0 rgba(255,255,255, 0.35),1px -1px 0 rgba(255,255,255, 0.35),-1px 1px 0 rgba(255,255,255, 0.35),-1px -1px 0 rgba(255,255,255, 0.35),0px 2px 0 rgba(255,255,255, 0.35),0px -2px 0 rgba(255,255,255, 0.35),2px 0px 0 rgba(255,255,255, 0.35),-2px 0px 0 rgba(255,255,255, 0.35),2px 2px 0 rgba(255,255,255, 0.35),2px -2px 0 rgba(255,255,255, 0.35),-2px 2px 0 rgba(255,255,255, 0.35),-2px -2px 0 rgba(255,255,255, 0.35),0px 3px 0 rgba(255,255,255, 0.35),0px -3px 0 rgba(255,255,255, 0.35),3px 0px 0 rgba(255,255,255, 0.35),-3px 0px 0 rgba(255,255,255, 0.35),3px 3px 0 rgba(255,255,255, 0.35),3px -3px 0 rgba(255,255,255, 0.35),-3px 3px 0 rgba(255,255,255, 0.35),-3px -3px 0 rgba(255,255,255, 0.35);
  -webkit-text-shadow:0px 1px 0 rgba(255,255,255, 0.35),0px -1px 0 rgba(255,255,255, 0.35),1px 0px 0 rgba(255,255,255, 0.35),-1px 0px 0 rgba(255,255,255, 0.35),1px 1px 0 rgba(255,255,255, 0.35),1px -1px 0 rgba(255,255,255, 0.35),-1px 1px 0 rgba(255,255,255, 0.35),-1px -1px 0 rgba(255,255,255, 0.35),0px 2px 0 rgba(255,255,255, 0.35),0px -2px 0 rgba(255,255,255, 0.35),2px 0px 0 rgba(255,255,255, 0.35),-2px 0px 0 rgba(255,255,255, 0.35),2px 2px 0 rgba(255,255,255, 0.35),2px -2px 0 rgba(255,255,255, 0.35),-2px 2px 0 rgba(255,255,255, 0.35),-2px -2px 0 rgba(255,255,255, 0.35),0px 3px 0 rgba(255,255,255, 0.35),0px -3px 0 rgba(255,255,255, 0.35),3px 0px 0 rgba(255,255,255, 0.35),-3px 0px 0 rgba(255,255,255, 0.35),3px 3px 0 rgba(255,255,255, 0.35),3px -3px 0 rgba(255,255,255, 0.35),-3px 3px 0 rgba(255,255,255, 0.35),-3px -3px 0 rgba(255,255,255, 0.35);
  -moz-text-shadow:0px 1px 0 rgba(255,255,255, 0.35),0px -1px 0 rgba(255,255,255, 0.35),1px 0px 0 rgba(255,255,255, 0.35),-1px 0px 0 rgba(255,255,255, 0.35),1px 1px 0 rgba(255,255,255, 0.35),1px -1px 0 rgba(255,255,255, 0.35),-1px 1px 0 rgba(255,255,255, 0.35),-1px -1px 0 rgba(255,255,255, 0.35),0px 2px 0 rgba(255,255,255, 0.35),0px -2px 0 rgba(255,255,255, 0.35),2px 0px 0 rgba(255,255,255, 0.35),-2px 0px 0 rgba(255,255,255, 0.35),2px 2px 0 rgba(255,255,255, 0.35),2px -2px 0 rgba(255,255,255, 0.35),-2px 2px 0 rgba(255,255,255, 0.35),-2px -2px 0 rgba(255,255,255, 0.35),0px 3px 0 rgba(255,255,255, 0.35),0px -3px 0 rgba(255,255,255, 0.35),3px 0px 0 rgba(255,255,255, 0.35),-3px 0px 0 rgba(255,255,255, 0.35),3px 3px 0 rgba(255,255,255, 0.35),3px -3px 0 rgba(255,255,255, 0.35),-3px 3px 0 rgba(255,255,255, 0.35),-3px -3px 0 rgba(255,255,255, 0.35);
}

.header-callback{
  width: 327px;
  height: 60px;
  font-size: 30px;
  background: rgba(190, 38, 35, 0.9);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.billboard__offer-contact{
  position: relative;
  bottom: -160px;
}

.billboard__offer-contact p{
  color: rgba(244, 242, 236, 0.8);
  font-size: 30px;
  font-family: 'Oswald-Regular';
  text-align: center;
}

.billboard__offer-contact a{
  background: rgba(244, 242, 236, 0.25);
  border: 3px solid #F4F2EC;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 36px;
  color: #F4F2EC;
  font-family: 'Oswald-Regular';
  width: 292px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 auto;
}

/* start features */

.features{

}

.features__title{
  font-family: 'Oswald-Medium';
  font-size: 36px;
  line-height: 53px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 30px 0;
}

.features__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features__list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}

.features__list-item img{
  opacity: 0.8;
  width: fit-content;
}

.features__list-item p{
  font-size: 36px;
  font-family: 'Oswald-Regular';
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  width: 95%;
  line-height: 30px;
  margin-top: 30px;
}

/* end features */

/* start shedule */

.shedule{
  margin-top: 100px;
}

.shedule h2{
  position: relative;
  top: 0;
  text-align: center;
  font-size: 45px;
  line-height: 67px;
  font-family: 'Oswald-Medium';
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 70px;
}

.shedule h2::before{
  content: '';
  position: absolute;
  border-top: 3px solid rgba(0, 0, 0, 0.45);
  width: 40%;
  height: 3px;
  left: 0;
  top: 50%;
}
.shedule h2::after{
  content: '';
  position: absolute;
  border-bottom: 3px solid rgba(0, 0, 0, 0.45);
  width: 40%;
  height: 3px;
  right: 0;
  top: 50%;
}
.shedule__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shedule__list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shedule__list-item--day{
  width: 110px;
  height: 110px;
  background: rgba(0, 80, 138, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.21);
  font-family: 'Oswald-Medium';
  font-size: 45px;
  line-height: 67px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shedule__list-item--hours{
  font-size: 30px;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Oswald-Medium';
  margin-top: 10px;
}

/* end shedule */

/* start services */

.services{
  margin-top: 100px;
}

.services h2{
  font-family: 'Oswald-Medium';
  font-size: 70px;
  line-height: 104px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 50px;
}

.services__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services__list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.services__list-item--title{
  font-family: 'Oswald-Medium';
  font-size: 55px;
  line-height: 82px;
  color: #000000;
  opacity: 0.45;
}

.services__list-item--description{
  font-family: 'Oswald-Medium';
  font-size: 30px;
  line-height: 44px;
  color: #000000;
  opacity: 0.45;
}

.services__list-item img{
  opacity: 0.45;
}

.services__list-item.active img,
.services__list-item.active .services__list-item--description,
.services__list-item.active .services__list-item--title{
  opacity: 0.85;
}

/* .services__list-item:active img, 
.services__list-item:active .services__list-item--description,
.services__list-item:active .services__list-item--title{
  opacity: 0.85;
} */

.tabcontent{
  display: none;
}

.services__tabs-content{
  margin-top: 70px;
}

.services__tabs-content-item{
  position: relative;
  width: 100%;
  height: 76px;
  background: rgba(0, 0, 0, 0.81);
  margin-bottom: 10px;
}

.services__tabs-content-item h3{
  font-size: 30px;
  line-height: 44px;
  color: #FFFFFF;
  opacity: 0.75;
  text-align: center;
  font-family: 'Oswald-Medium';
}

.services__tabs-content-item span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Oswald-Medium';
  opacity: 0.75;
  position: relative;
  bottom: -8px;
  cursor: pointer;
}

.accord-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.complex{
  display: block;
  position: relative;
  padding-left: 15px;
  width: 455px;
  height: 200px;
  background: rgba(255, 255, 255, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.23);
  margin: 0 10px 10px 10px;
}

.complex h2{
  font-family: 'Oswald-Medium';
  font-size: 35px;
  line-height: 52px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0px;
}

.complex p{
  font-family: 'Oswald-Regular';
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.complex h3{
  font-family: 'Oswald-Medium';
  font-size: 25px;
  line-height: 37px;
  text-align: center;
}
.complex__prices{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
}
.sale{
  position: relative;
  color: #D10400;
}
.complex__prices span:first-child {
  font-family: 'Oswald-Medium';
  font-size: 30px;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.8);
  position:relative;
  overflow:hidden;
  bottom: -10px;
}

.complex__prices span:first-child:before,
.complex__prices span:first-child:before {
    content:'';
    position:absolute;
    display:block;
    width:auto;
    height:auto;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0) url(img/cross.svg) no-repeat;
    background-size:100% 100%;
}
.complex__prices .not-sale{
  font-family: 'Oswald-Medium';
  font-size: 65px;
  line-height: 96px;
  position: relative;
  top: -20px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complex__prices h1{
  font-family: 'Oswald-Medium';
  font-size: 65px;
  line-height: 96px;
  position: relative;
  top: -20px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complex__prices h1 img{
  position: relative;
  
}

.complex__prices span:last-child{
  font-family: 'Oswald-Medium';
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  bottom: -10px;
  width: 55px;
}

/* end services */

/* start koch */

.koch{
  background-image: url(img/koch-back.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center;
  background-position-y: 400px;
  margin-top: 80px;
  height: auto;
}

.koch__main-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.koch__main-title h2{
  font-family: 'Oswald-Medium';
  font-size: 50px;
  line-height: 74px;
  color: rgba(0, 0, 0, 0.81);
}

.koch__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.koch__list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.koch__list-item--title{
  font-family: 'Oswald-Medium';
  font-size: 55px;
  line-height: 82px;
  color: #000000;
  opacity: 0.6;
}

.koch__list-item--description{
  font-family: 'Oswald-Medium';
  font-size: 30px;
  line-height: 44px;
  color: #000000;
  opacity: 0.6;
}

.koch__list-item img{
  opacity: 0.6;
}

.koch__list-item.active img,
.koch__list-item.active .koch__list-item--description,
.koch__list-item.active .koch__list-item--title{
  opacity: 1;
}

/* .services__list-item:active img, 
.services__list-item:active .services__list-item--description,
.services__list-item:active .services__list-item--title{
  opacity: 0.85;
} */

.tabcontent-koch{
  display: none;
}

.koch__tabs-content{
  margin-top: 70px;
}

.koch__tabs-content-item{
  position: relative;
  width: 100%;
  height: 90px;
  background: rgba(3, 18, 23, 0.72);
  margin-bottom: 10px;
  padding: 11px 50px 20px 50px;
}

.koch__tabs-content-item h3{
  font-family: 'Oswald-Medium';
  font-size: 40px;
  line-height: 59px;
  /* padding: 11px 0 20px 50px; */
  color: rgba(244, 242, 236, 0.94);
}

.koch__phaza{
  display: flex;
  align-items: center;
  width: 35%;
  height: 100%;
  justify-content: space-around;
  position: absolute;
  right: 75px;
  top: -4px;
  float: right;
  /* padding: 11px 0 20px 50px; */
}

.koch__phaza-single{
  display: flex;
  align-items: center;
  width: 21.5%;
  height: 100%;
  justify-content: space-around;
  position: absolute;
  right: 0;
  top: -4px;
  float: right;
  /* padding: 11px 0 20px 50px; */
}

.two-phaza span:first-child,
.three-phaza span:first-child{
  font-family: 'Oswald-Medium';
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(244, 242, 236, 0.94);
  width: min-content;
  display: inline-block;
}

.koch__phaza-price{
  position: relative;
  font-family: 'Oswald-Medium';
  font-size: 65px;
  line-height: 96px;
  color: #F4F2EC;
  left: 55px;
}

.koch__phaza-price::before{
  content: '';
  position: absolute;
  left: -50px;
  top: 33%;
  background-image: url(img/coin.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.vertical-line{
  font-family: 'Oswald-Medium';
  font-size: 45px;
  line-height: 67px;
  left: 30px;
  position: relative;
  text-align: center;
  color: rgba(244, 242, 236, 0.94);
}